// Noto Sans Font
// Google
// Apache License, version 2.0
// http://www.apache.org/licenses/LICENSE-2.0.html

$phosphate-font-path: $font-path !default;

@font-face {
  font-family: "Phosphate";
  font-style: normal;
  font-weight: 600;
  src: local("Phosphate"),
  url("#{$phosphate-font-path}/phosphate.woff") format("woff"),
  url("#{$phosphate-font-path}/phosphate.ttf") format("truetype"),
  url('#{$phosphate-font-path}/phosphate.woff2') format('woff2');
}
