page-home {
    #header-map {
        position: relative;
        margin-bottom: 10px;
        .bloc-life {
            position: relative;
            width: 60px;
            height: 60px;
            background-image: url('../assets/img/life.png');
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: left;
            &--number {
                font-family: "Phosphate";
                color: color($colors, light, base);
                font-size: 25px;
                margin: 0;
                padding: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }
        ion-img.logo {
            position:absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: none;
            max-width: 100px;
        }
    }

    #map {
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            li {
                position: relative;
                text-align: center;
                width: 19%;
                height: 120px;
                list-style-type:none;
                background-image: url('../assets/img/popcorn.png');
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: top;
                &:not(:first-child),
                &:not(:last-child) {
                    margin: 0px 3%;
                }
                &:first-child {
                    margin-right: 3%;
                }
                &:last-child {
                    margin-left: 3%;
                }
                p {
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    font-family: "Phosphate"!important;
                    font-size: 45px;
                    color: color($colors, primary, base);
                }
            }
        }
    }
}
