page-home {
    ion-img {
        background: none;
        display: block;
        margin: 80px auto;
    }
    button {
        background: url("../assets/img/btn_play_final.png");
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        width: 150px;
        height: 150px;
        margin: 80px auto;
        -webkit-animation: breathing 1.5s ease-out infinite normal;
        animation: breathing 1.5s ease-out infinite normal;
    }

}
