page-map {
    #header-map {
        position: relative;
        .bloc-life {
            margin-top:0;
            position: relative;
            float:right;
            width: 55px;
            height: 55px;
            margin-top: 10px;
            background-image: url('../assets/img/life.png');
            background-repeat: no-repeat;
            background-size: 60px 60px;
            background-position: right;
            &--number {
                font-family: "Phosphate";
                color: color($colors, light, base);
                font-size: 25px;
                margin: 0;
                padding: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }
        ion-img.logo {
            position:absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: none;
            max-width: 130px;
        }
    }

    #map {
        margin-top: 10px;
        ion-col {
            div.bloc-popcorn {
                height: 108px;
                min-height: 108px;
                background-image: url('../assets/img/popcorn.png');
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: top;
            }
            p {
                margin: 0;
                padding: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                font-family: "Phosphate" !important;
                font-size: 48px;
                color: color($colors, primary, base);
            }
        }
    }
}
