<ion-content padding>
    <div id="header-game">
        <ion-img class="logo" width="246" height="146" src="assets/img/logo_final.png"></ion-img>
        <div class="bloc-life">
            <p class="bloc-life--number">{{ life }}</p>
        </div>
    </div>
    <ion-grid>
        <ion-row id="map" *ngIf="levelsId" justify-content-start>
            <ion-col col-3 *ngFor="let levelId of levelsId" (tap)="showGame(levelId.levelId, levelId.status)" fixed>
                <div class="bloc-popcorn" [ngClass]="(levelId.status == 0) ? 'disable' : 'able'">
                    <p>{{ levelId.levelId }}</p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
