page-map {
    #header-map {
        position: relative;
        margin-bottom: 10px;
        .bloc-life {
            position: relative;
            float:right;
            width: 60px;
            height: 60px;
            background-image: url('../assets/img/life.png');
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: left;
            &--number {
                font-family: "Phosphate";
                color: color($colors, light, base);
                font-size: 25px;
                margin: 0;
                padding: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }
        ion-img.logo {
            position:absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: none;
            max-width: 100px;
        }
    }

    #map {
        ion-col {
            min-height: 110px;
            background-image: url('../assets/img/popcorn.png');
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: top;
            margin: 0 12px;
            p {
                margin: 0;
                padding: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                font-family: "Phosphate" !important;
                font-size: 45px;
                color: color($colors, primary, base);
            }
            &:first-child {
                margin: 0 12px 0 0;
            }
            &:last-child {
                margin: 0 0 0 12px;
            }
        }
    }
}
