page-map {
    #map {
        margin-top: 10px;
        ion-col {
            div.bloc-popcorn.able{
                height: 126px;
                background-image: url('../assets/img/popcorn.png');
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: top;
                position: relative;
              p {
                margin: 0;
                padding: 0;
                position: absolute;
                top: 58%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                font-family: "Phosphate", sans-serif !important;
                font-size: 48px;
                color: color($colors, primary, base);
              }
            }
            div.bloc-popcorn.disable {
              height: 126px;
              background-image: url('../assets/img/popcorn_disable.png');
              background-repeat: no-repeat;
              background-size: 100%;
              background-position: top;
              p {
                display: none;
              }
            }

        }
    }
}
