page-life-modal {
    .answer-modal-page {
        // padding: 25% 0px 25% 0px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,0.5);
        .wrapper-content {
            background-image: url('../assets/img/background_modal.png');
            background-repeat: no-repeat;
            background-size: 100% 75%;
            background-position: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 80%;
            min-height: 300px;
            padding: 30px;
            margin: auto;
            .life-content {
                position: relative;
                top: 55%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                p.status {
                    font-family: "Phosphate";
                    font-size: 35px;
                    text-align: center;
                    color: color($colors, primary, base);
                }
            }
            button {
                position: absolute;
                bottom: 100px;
                left: 50%;
                transform: translateX(-50%);
                ion-icon {
                    color: #3b5998;
                    font-size: 50px;
                    vertical-align: bottom;
                }
            }
        }
    }
    .grid {
        padding: 10% 0px 10% 0px !important;
    }
}
